In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import sqlite3
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [2]:
measurments = pd.read_csv('clean_measurements.csv')
#measurments.drop("Unnamed: 0", axis=1, inplace=True)
measurments = measurments.rename(columns={'Unnamed: 0':'id'})
stations = pd.read_csv('clean_stations.csv')
#stations.drop("Unnamed: 0", axis=1, inplace=True)
stations = stations.rename(columns={'Unnamed: 0':'id'})

In [3]:
measurments.head()

   id      station        date  prcp  tobs
0   0  USC00519397  2010-01-01  0.08    65
1   1  USC00519397  2010-01-02  0.00    63
2   2  USC00519397  2010-01-03  0.00    74
3   3  USC00519397  2010-01-04  0.00    76
4   4  USC00519397  2010-01-06  0.03    73

In [4]:
stations.head()

,id,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

# Define Measurement class
class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

# Define Station class
class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(Float)

# Create Database Connection    
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()
#metadata
Base.metadata.create_all(engine)


session = Session(bind=engine)
session.commit()

In [6]:
measurments.to_sql("measurements",conn,if_exists="append", index=False)
stations.to_sql("stations",conn,if_exists="append", index=False)