In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
Measurements_df = pd.read_csv('hawaii_measurements.csv')
Stations_df = pd.read_csv('hawaii_stations.csv')

In [12]:
#measurements_df = measurements.set_index('', append=True)
#stations_df = measurements.set_index('', append=True)

In [14]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [5]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
#Testing Data for missing or NaN values and finding the count of percentage if any missing or NaN 
print('Measurements')
measurements_df.isnull().any().any()
print(("Missing data found: "),measurements_df.isnull().any().any())

NaN_station = sum(pd.isnull(measurements_df['station']))
print(("The count of missing/NaN data in Station is : "),NaN_station ) 

NaN_date = sum(pd.isnull(measurements_df['date']))
print(("The count of missing/NaN data in date is : "),NaN_date ) 


NaN_prcp = sum(pd.isnull(measurements_df['prcp']))
print(("The count of missing/NaN data in prcp is : "),NaN_prcp ) 


NaN_tobs = sum(pd.isnull(measurements_df['tobs']))
print(("The count of missing/NaN data in tobs is : "),NaN_tobs ) 

data_total = len(measurements_df['prcp'])
percentage_of_Nan = NaN_prcp / data_total * 100 
print(("the percentage of missing data is : %"),percentage_of_Nan )

Measurements
Missing data found:  True
The count of missing/NaN data in Station is :  0
The count of missing/NaN data in date is :  0
The count of missing/NaN data in prcp is :  1447
The count of missing/NaN data in tobs is :  0
the percentage of missing data is : % 7.40153452685422

In [7]:
#using interpolate method to fill in NaN data
filledNaN_measurements = measurements_df.interpolate()
filledNaN_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.03    73

In [8]:
print('Stations')
stations_df.isnull().any().any()
print(("Missing data found: "),stations_df.isnull().any().any())

Stations
Missing data found:  False